.clases_contenedor {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 6rem;

  h1 {
    text-align: center;
  }
}

.clases_contenedor--intro {
  text-align: center;
  font-size: 1.2rem;
}

.contenedor_card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.clases_card {
  background-color: #363636;
  border-radius: 1.5rem;
  padding: 2rem 4rem;
  align-items: center;
  text-align: center;
  scroll-margin-top: 4rem;

  h2, h3 {
    color: var(--color-principal);
  }
}

.info, .horarios, .beneficios, .contenedor_wpp-flotante {
  
  img {
    width: 1.6rem;
    height: 1.6rem;
  }
  
  p, li, a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }
}
  
.info--texto {
  font-weight: bold;
}

.detalles_card--borde {
  padding: 1rem;
  border: 1px solid var(--color-secundario);
  border-radius: 15px;
}

.wpp-flotante {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  background-color: var(--color-texto-primario);
  color: var(--color-principal);
  border: 1px solid var(--color-principal);
  border-radius: 50px;
  padding: 0.5rem 1rem;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

@media (max-width: 500px) {
  .clases_contenedor h1{
      font-size: 4.5rem;
  }

  .clases_card {
    padding: 2rem 1rem;
  }

  .info, .horarios, .beneficios, .contenedor_wpp-flotante {
    p, li {
      flex-direction: column;
      
    }
  }
}